/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

:root {
  -moz-appearance: none;
  font-size: 75%;
  background-color: transparent;
  --page-color: #F2F2F2;
  --container-text-color: #000;
  --container-border-color: #E1E1E1;
  --container-background-color: #FFF;
}

/* SCROLLBOX */
#newtab-vertical-margin,
#newtab-scrollbox:not([page-disabled]) {
  background-color: var(--page-color);
  background-attachment: fixed;
}

/* UNDO */
#newtab-undo-container {
  padding: 4px 3px;
  border: 1px solid var(--container-border-color);
  background-color: var(--container-background-color);
  color: var(--container-text-color);
}

#newtab-undo-label {
  margin-top: 0;
  margin-bottom: 0;
}

.newtab-undo-button {
  -moz-appearance: none;
  color: var(--container-text-color);
  cursor: pointer;
  padding: 0;
  margin: 0 4px;
  border: 0;
  background: transparent;
  text-decoration: none;
  min-width: 0;
}

.newtab-undo-button:hover {
  text-decoration: underline;
}

.newtab-undo-button:-moz-focusring {
  outline: 1px dotted;
}

.newtab-undo-button > .button-box {
  padding: 0;
}

#newtab-undo-close-button {
  -moz-appearance: none;
  padding: 0;
  border: none;
  -moz-user-focus: normal;
}

#newtab-undo-close-button > .toolbarbutton-text {
  display: none;
}

#newtab-undo-close-button:-moz-focusring {
  outline: 1px dotted;
}

/* TOGGLE */
#newtab-toggle {
  width: 16px;
  height: 16px;
  padding: 0;
  border: none;
  background: -216px 0 transparent url(chrome://browser/skin/newtab/controls.svg);
}

#newtab-toggle[page-disabled] {
  background-position: -232px 0;
}

/* ROWS */
.newtab-row {
  margin-bottom: 20px;
}

.newtab-row:last-child {
  margin-bottom: 0;
}

/* CELLS */
.newtab-cell {
  -moz-margin-end: 20px;
  background-color: var(--container-background-color);
  border: 1px solid var(--container-border-color);
}

.newtab-cell:empty {
  border: 1px dashed var(--container-border-color);
}

.newtab-cell:last-child {
  -moz-margin-end: 0;
}

.newtab-cell:hover * {
  text-decoration: underline;
}

/* SITES */
.newtab-site {
  text-decoration: none;
  transition-property: top, left, opacity, box-shadow, background-color;
}

.newtab-site:hover .newtab-thumbnail {
  filter: brightness(80%);
}

.newtab-site[dragged] {
  transition-property: box-shadow, background-color;
  box-shadow: 0 0 10px rgba(0, 0, 0, .3);
}

/* THUMBNAILS */
.newtab-thumbnail {
  background-origin: padding-box;
  background-clip: padding-box;
  background-repeat: no-repeat;
  background-size: cover;
}

/* TITLES */
.newtab-title {
  padding: 0 8px;
  background-color: var(--container-background-color);
  color: var(--container-text-color);
  font-size: 120%;
  line-height: 24px;
}

.newtab-site[pinned] .newtab-title {
  -moz-padding-start: 20px;
}

.newtab-site[pinned] .newtab-title::before {
  background-image: url(chrome://browser/skin/newtab/pinned.svg);
  content: "";
  left: 2px;
  top: 2px;
  position: absolute;
  width: 16px;
  height: 16px;
}

.newtab-site[pinned] .newtab-title:dir(rtl)::before {
  left: auto;
  right: 2px;
}

/* CONTROLS */
.newtab-control {
  width: 24px;
  height: 24px;
  padding: 1px 2px 3px;
  border: none;
  background: transparent url(chrome://browser/skin/newtab/controls.svg);
  transition: none;
}

.newtab-control-pin:dir(ltr),
.newtab-control-block:dir(rtl) {
  left: 4px;
  top: 4px;
}

.newtab-control-block:dir(ltr),
.newtab-control-pin:dir(rtl) {
  right: 4px;
  top: 4px;
}

.newtab-site[pinned] .newtab-control-pin,
.newtab-control-pin[pinned] {
  background-position: -72px 0;
}

.newtab-control-block {
  background-position: -144px 0;
}

#searchEngineLogo {
  transform: scale(.75);
}

#searchLogoContainer[hidden] ~ #searchText {
  -moz-padding-start: 8px;
}

#searchText {
  -moz-box-flex: 1;
  background: #fff padding-box;
  border: 1px solid #CCCCCC !important;
  border-radius: 0;
  box-shadow: none;
}

#searchSubmit {
  -moz-margin-start: -5px;
  background: #1E90FF padding-box;
  padding: 0 9px;
  border: 1px solid #CCCCCC !important;
  border-radius: 0;
  cursor: pointer;
  transition: transform 100ms;
  color: #fff;
  box-shadow: none !important;
}

#searchSubmit:hover {
  background: #61B1FF;
}

#searchSubmit:hover:active {
  background: #1B81E5;
  transform: skew(-2deg, 0deg) scaleX(.97);
}
