/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

:root {
  --page-color: #F2F2F2;
  --container-text-color: #000;
  --container-border-color: #E1E1E1;
  --container-background-color: #FFF;
}

html {
  background-color: var(--page-color);
  font: 3mm tahoma,arial,helvetica,sans-serif;
}

#feedHeaderContainer {
  margin: -4em auto 0 auto;
}

#feedHeader {  
  margin-top: 4.9em;
  margin-bottom: 1em;
  -moz-margin-start: 1.4em;
  -moz-margin-end: 1em;
  -moz-padding-start: 2.9em;
  font-size: 110%;
}

#feedIntroText {
  display: none;
}

.feedBackground,
.videoPodcastBackground,
.audioPodcastBackground {
  background: url("chrome://browser/skin/feeds/feedIcon.svg") 0% 10% no-repeat;
}

#feedHeader[dir="rtl"] {
  background-position: 100% 10%;
}

#feedHeader[firstrun="true"] #feedIntroText {
  padding-top: 0.1em;
  -moz-padding-start: 0.6em;
  display: block;
}

#feedHeader[firstrun="true"] > #feedSubscribeLine {
  -moz-padding-start: 1.8em;
}

#feedSubscribeLine {
  padding-top: 0.2em;
}

img {
  max-width: 100%;
}

/* Don't print subscription UI */
@media print {
  #feedHeaderContainer {
    display: none;
  }
}

body {
  margin: 0;
  padding: 0 3em;
  color: var(--container-text-color);
  font: message-box;
}

h1 {
  font-size: 160%;
  margin: 0 0 .2em 0;
}

h2 {
  color: var(--container-text-color);
  font-size: 110%;
  font-weight: normal;
  margin: 0 0 .6em 0;
}

h3 > a {
  color: var(--container-text-color);
  font-size: 1.6em;
  font-weight: normal;
  text-decoration: none;
}
h3 > a:hover {
  text-decoration: underline;
}

#feedTitleLink {
  float: right;
  -moz-margin-start: .6em;
  -moz-margin-end: 0;
  margin-top: 0;
  margin-bottom: 0;
}

a[href] img {
  border: none;
}

#feedTitleContainer {
  -moz-margin-start: 0;
  -moz-margin-end: .6em;
  margin-top: 0;
  margin-bottom: 0;
}

#feedTitleImage {
  -moz-margin-start: .6em;
  -moz-margin-end: 0;
  margin-top: 0;
  margin-bottom: 0;
  max-width: 300px;
  max-height: 150px;
}

.entry {
  padding: 1em 2em;
  margin-bottom: 2.5em;
  background-color: var(--container-background-color);
  border: 1px solid var(--container-border-color);
}

.feedEntryContent {
  font-size: 1.25em;
}
 
.link {
  color: #0000FF;
  text-decoration: underline;
  cursor: pointer;
}

.link:hover:active {
  color: #FF0000;
}

.lastUpdated {
  font-size: 85%;
  font-weight: normal;
}

.type-icon {
  vertical-align: bottom;
  height: 16px;
  width: 16px;
}

.enclosures {
  border: 1px solid ThreeDShadow;
  padding: 1em;
  margin: 1em auto;
  background: -moz-Dialog;
}

.enclosure {
  vertical-align: middle;
  margin-left: 2px;
}
