/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

/*
 * The default namespace for this file is XUL. Be sure to prefix rules that
 * are applicable to both XUL and HTML with '*|'.
 */
@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");
@namespace html url("http://www.w3.org/1999/xhtml");

/* Page background */
*|*:root {
  -moz-appearance: none;
  color: -moz-dialogText;
  background-color: #fff;
  font-family: "Segoe UI", sans-serif;
  --menu-hover: rgba(0,0,0,.1);
  --menu-active: rgba(0,0,0,.2);
}

html|html {
  font: message-box;
}

/* Use the new in-content colors for #contentAreaDownloadsView. After landing
   of bug 989469 the colors can be moved to *|*:root */
*|*#contentAreaDownloadsView {
  background: #f1f1f1;
  color: #424e5a;
}

/* header */
#permissions-header,
#header {
  min-height: 56px;
  -moz-padding-start: 2em;
  -moz-padding-end: 2em;
  background-color: #E6E6E6;
  color: #000;
  transition: min-height 500ms;
}

@media (max-width: 750px) {
  #permissions-header,
  #header {
    min-height: 30px;
  }
}

#permissions-pagetitle,
#tabsListHeading {
  font-size: 140%;
  font-weight: 600;
  color: #000;
}

/* Content */
*|*.main-content {
  /* Needed to allow the radius to clip the inner content, see bug 595656 */
  overflow: hidden;
  background-color: #fff;
}

/* Buttons */
toolbarbutton,
*|button,
menulist,
colorpicker[type="button"] {
  -moz-appearance: none;
  color: black;
  padding: 0 5px;
  background: #CCCCCC;
  background-clip: padding-box;
  border: 2px solid #CCCCCC;
  transition: transform 200ms;
}
  
menulist {
  background: #fff;
}

menulist {
  -moz-padding-end: 0;
}

colorpicker[type="button"]:-moz-focusring:not([open="true"]) > .colorpicker-button-colorbox {
  outline: 1px dotted ThreeDDarkShadow;
}

toolbarbutton[disabled="true"],
html|button[disabled],
button[disabled="true"],
menulist[disabled="true"],
colorpicker[type="button"][disabled="true"] {
  -moz-border-top-colors: #CCCCCC !important;
  -moz-border-right-colors: #CCCCCC !important;
  -moz-border-bottom-colors: #CCCCCC !important;
  -moz-border-left-colors: #CCCCCC !important;
  opacity: 0.8;
  color: #505050;
}

toolbarbutton:hover,  
*|button:hover,
menulist:hover,
colorpicker[type="button"]:hover {
  border-color: #7A7A7A;
}

toolbarbutton:not([disabled="true"]):active:hover,
html|button:not([disabled]):active:hover,
button:not([disabled="true"]):active:hover,
colorpicker[type="button"][open="true"]:not([disabled="true"]) {
  background-color: #999999;
  border-color: #999999;
  transform: skew(-2deg, 0deg) scaleX(.97);
}

button > .button-box {
  padding: 1px !important;
}

spinbuttons > .spinbuttons-box > .spinbuttons-button {
  border-radius: 0;
  padding: 0 4px;
}

spinbuttons > .spinbuttons-box > .spinbuttons-up {
  list-style-image: url("chrome://global/skin/arrow/arrow-up.gif");
  border-bottom-width: 0;
}

spinbuttons > .spinbuttons-box > .spinbuttons-down {
  list-style-image: url("chrome://global/skin/arrow/arrow-dn.gif");
}

colorpicker[type="button"] {
  margin: 1px 5px 2px 5px;
  padding: 3px;
  height: 25px;
}
